@keyframes fadeIn {
        from {
                opacity:0
        }
        to {
                opacity:1
        }
}
.fadeIn {
        animation-name:fadeIn
}
@keyframes fadeInDown {
        from {
                opacity:0;
                transform:translate3d(0,-100%,0)
        }
        to {
                opacity:1;
                transform:none
        }
}
.fadeInDown {
        animation-name:fadeInDown
}
@keyframes fadeInLeft {
        from {
                opacity:0;
                transform:translate3d(-100%,0,0)
        }
        to {
                opacity:1;
                transform:none
        }
}
.fadeInLeft {
        animation-name:fadeInLeft
}
@keyframes fadeInRight {
        from {
                opacity:0;
                transform:translate3d(100%,0,0)
        }
        to {
                opacity:1;
                transform:none
        }
}
.fadeInRight {
        animation-name:fadeInRight
}
@keyframes fadeInUp {
        from {
                opacity:0;
                transform:translate3d(0,100%,0)
        }
        to {
                opacity:1;
                transform:none
        }
}
.fadeInUp {
        animation-name:fadeInUp
}

.anim-one span {
   animation: fadeIn 1.0s ease-in-out;
   animation-fill-mode: both;
 }
.anim-two span {
   animation: fadeIn 1.5s ease-in-out;
   animation-fill-mode: both;
 }
.anim-three span {
   animation: fadeIn 2.0s ease-in-out;
   animation-fill-mode: both;
 }

 span#endanim-animTextOne.endanim-animTextOne, span#endanim-animTextTwo.endanim-animTextTwo, span#endanim-animTextThree.endanim-animTextThree {
        animation: fadeIn 1s ease-in-out 1s;
        padding: 10px 0px 10px 0px;
        margin: 10px 0px 10px 0px;
        font-size: 14px;
        text-align: justify;
        transition: all 0.9s;
        color: #f00;
        font-weight: 700;
        line-height: 1rem;
        display:block;
}
